<div class="loginContainer">
  <mat-card class="login-card">
    
    <mat-card-content>
      
      <div class="example-container">
        <div class="text-center">
          <h2>Welcome</h2>
        </div>
        <mat-form-field >
          <input matInput placeholder="Username">
        </mat-form-field>
      
        <mat-form-field >
          <input matInput type="password" placeholder="Password">
        </mat-form-field> 
        
        <button mat-raised-button class="mt-3" color="primary" routerLink="/dashboard">Login</button>       
       
      </div>

    </mat-card-content>
   
  </mat-card>

</div>