.profileBg{
    background-image: url('../assets/sunset.jpg');
    height: 31%;
    background-size: 100% 100%;
}
.containBg{
    height: 68%;   
}
.rounded-circle{
    border-radius: 50%;
}
.margin-top{
    margin-top: -3.8%; 
    height: 120%;
    
}
.userListContainer{
    height: 50%;
    overflow: scroll;
}
